* {
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  text-align: center;
  background-color: aliceblue;
  background-image: url('./images/clan-defy-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
span {
  color: #303030;
  margin: 10px;
}

h4 {
  color: red;
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

input {
  opacity: 97%;
}

table {
  border-collapse: collapse;
  width: 100%;
  opacity: 97%;
}
table td {
  padding: 15px;
}
table th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
  padding: 8px;
}
table td {
  color: #303030;
  border: 1px solid #dddfe1;
}
table tr {
  background-color: #f9fafb;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}

th,
tr,
td {
  text-align: left;
}

th:not(:last-child) {
  border-right-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

#defy-logo {
  width: 9%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#searchField {
  width: 30%; /* Half-width */
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#loading {
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
  vertical-align: top;
}

.skillIcon {
  padding-top: 4px;
}

#totals {
  display: contents !important;
}

.container {
  overflow-x: auto;
  margin: auto;
  width: 80%;
}

.hide {
  display: none;
}

.currentCategory {
  background-color: rgb(177, 177, 177);
}

.c2.currentCategory {
  background-color: rgb(255, 0, 0, 0.4);
}

.c3.currentCategory {
  background-color: rgb(0, 176, 240, 0.4);
}

.c4.currentCategory {
  background-color: rgb(0, 204, 0, 0.4);
}

.c5.currentCategory {
  background-color: rgb(255, 102, 0, 0.4);
}

.c6.currentCategory {
  background-color: rgb(255, 255, 0, 0.4);
}

.categorySelect:active {
  background-color: #777777;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#comingSoon {
  font-size: 18px;
  padding-bottom: 12px;
}
