* {
  font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, span {
  color: #303030;
}

h4 {
  color: red;
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 90%;
}
table td {
  padding: 15px;
}
table th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table td {
  color: #303030;
  border: 1px solid #dddfe1;
}
table tr {
  background-color: #f9fafb;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}

th,
tr,
td {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

#searchField {
  width: 50%; /* Half-width */
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.clickable {
  cursor: pointer;
}

#totals {
  display: contents !important;
}

.container {
  overflow-x: auto;
}

.hide {
  display: none;
}

.currentTeam {
  background-color: rgb(177, 177, 177);
}

.teamSelect:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}